* {
    margin: 0px;
}

body {
	background-color: rgba(33, 33, 33, 1);
}

hr {
    border-color: #444;
}

#title {
    color: #e50914;
    font-size: 50px;
    
    font-family: 'Source Sans Pro', sans-serif;
}

#signupform {
    margin-top: 20px;   
}

.signupvalues {
    background-color: #b2acab;
    border: 0px;
    
    margin: 5px;
    
    height: 27px;
    width: 220px;
}

::placeholder {
    color: black;
    opacity: 1;
}

.submitbutton {
    margin-top:2px;
    
    background-color: #b2acab;
    
    height: 25px;
}

#signuplogo {
    position: absolute;
    top: 20px;
    right: 14px;

    height: 22px;
    width: 57px;
    
    background-color: #e50914;
    
    font-family: 'Source Sans Pro', sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

#question {
    font-family: 'Source Sans Pro', sans-serif;

    position: absolute;
    top: 20px;
    right: 75px;
}
